body {
margin: auto;

}

nav {
    background-color: #C12127;
    color: rgba(255,255,255,0.9);
    padding-top: 15px;
    height: 40px;
  }
  
  nav a {
    color: rgba(255,255,255,0.9);
    text-decoration: none;
  }

  .top-links {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
  }
  
  .top-links li {
    display: inline-block;
    margin: 0 10px;
  }

  .search {
    background-color: rgba(36,89,121);
    color: rgba(255,255,255, 0.9);
    padding-top: 15px;
    height: 65px;
  }

  .search input {
    vertical-align:top;
    background-color: rgba(31,82,111);
    color: rgba(255,255,255, 0.9);
    padding-top: 15px;
    padding-bottom: 7px;
    padding-left: 15px;
    margin-left: 15px;
    width: 82%;
    border-width: 1px;
    border-color: rgb(162, 210, 255);
  }

  .below-search-container {
    background-color: rgba(32,101,136);
    background-image: url(images/city-scape.svg);
    height: 400px;
  }

  .below-search {
    width: 50%;
    margin: auto;
    color: rgba(255,255,255, 0.9);
    padding-top: 15px;
  }

  .below-search p {
    width: 65%;
  }

  .below-search button{
    background-color:rgb(240, 146, 51);
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 15%;
    margin: 10px 2px;
    cursor: pointer;
  }

  .section2-container {
    background-color: rgba(39,53,71);
    height: 400px;
  }

  .section2 {
    width: 50%;
    margin: auto;
    color: rgba(255,255,255, 0.9);
    padding-top: 15px;
  }

  .section2-float {
    float: right;
    padding-top: 25px;
    }

  .section2-float button {
    background-color:rgb(203, 56, 55);
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 35%;
    margin: 10px 2px;
    cursor: pointer;
      }

    .section3-container {
        padding-top: 15px;
        background-color: rgba(32,101,136);
        background-image: url(images/forklift.svg);
        background-size: cover;
        height: 400px;
    }      

    .section3 {
        width: 50%;
        margin: left;
        color: rgba(255,255,255, 0.9);
        padding-left: 500px;
        padding-top: 25px;
    }

    .section3 p{
        width: 50%;
        margin: left;
        color: rgba(255,255,255, 0.9);
    }

    .section3 button{
        background-color:rgb(49, 68, 88);
        border: none;
        border-radius: 15px;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        width: 15%;
        margin: 10px 2px;
        cursor: pointer;
      }

      .section4-container {
        width: 50%;
        margin: auto;
        padding-top: 15px;
        background-color: rgb(255, 255, 255);
        background-size: cover;
        height: 400px;
    } 
    
    .section4-heading {
        color: rgb(83, 88, 98);
        text-align: center;
        padding-top: 15px;
    }  
    
    
    .section4-logos {
        color: rgb(83, 88, 98);
        vertical-align:middle;
        text-align: center;
        display: inline-block;
        width: 33%;
        margin: auto;
        padding-top: 15px;
        background-color: rgb(255, 255, 255);
        background-size: cover;
        height: 400px;
    }      